<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJK0aLu4vf2E60LtPecsC1R1Vubv_O1bI</string>
	<key>GCM_SENDER_ID</key>
	<string>751087314859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftlec.PersonalColor-Swift</string>
	<key>PROJECT_ID</key>
	<string>swiftmaincolorapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmaincolorapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751087314859:ios:4f0f88ef211232c21e54ee</string>
</dict>
</plist>